<link href="./assets/css/mapstyle.css" rel="stylesheet" />
<script src="./assets/javascript/maps.js"></script>

<body>
  <div class="flex-parent viewport-full relative scroll-hidden">
    <div
      class="flex-child flex-child--grow bg-darken10 viewport-twothirds viewport-full-mm"
      id="map"
    ></div>

    <div class="side-bar">
      <input
        type="button"
        id="add-marker"
        class="btn-dark"
        value="Add Location"
      /><input
        type="button"
        id="center-button"
        class="btn-dark"
        value="Centre Map"
      />
      <br /><b>Itinery</b>
      <div id="location-list"></div>
    </div>
  </div>

  <script></script>
</body>
