<link
  href="https://fonts.googleapis.com/css?family=Arvo&display=swap"
  rel="stylesheet"
/>

<style>
  ._welcome_modal_card {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  ._welcome_modal_card ion-card {
    background: white;
    font-family: "Arvo", serif;
  }
</style>

<div class="_welcome_modal_card">
  <ion-card class="animation-fade-in">
    <ion-card-header>
      <ion-card-title style="text-align: center; font-size: 1.5rem;">
        Where Would You Like To Go Next ?
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Find Places</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-button
        style="position: relative;margin-top: 1rem;"
        size="medium"
        color="light"
        >GO</ion-button
      >
      <ion-button
        style="position: relative;margin-top: 1rem;"
        size="medium"
        color="light"
        >I'm Feeling Lucky</ion-button
      >
    </ion-card-content>
  </ion-card>
</div>
