<link
  href="https://fonts.googleapis.com/css?family=Arvo&display=swap"
  rel="stylesheet"
/>

<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">

<style>

.ion-toolbar {
  padding-top: 0px;
}
  div {
    font-family: 'Roboto Condensed', sans-serif;
  }
  ._welcome_modal_card {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  ._welcome_modal_card ion-card {
    background: white;
    /* font-family: "Arvo", serif; */
  }

  @media only screen and (min-width: 1280px) {
  #welcome {
    width: 33%;
  }
}
</style>

<div id = "welcome" class="_welcome_modal_card">
  <ion-card class="animation-fade-in">
    <ion-card-header>
      <ion-card-title style="text-align: center; font-size: 1.5rem;">
        Where Would You Like To Go Next ?
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Find Places</ion-label>
        <ion-input id="search-bar"></ion-input>
      </ion-item>
      <ion-button
        id="search-btn1"
        style="position: relative;margin-top: 1rem;"
        size="medium"
        color="light"
        >GO</ion-button
      >
      <ion-button
        id="search-btn2"
        style="position: relative;margin-top: 1rem;"
        size="medium"
        color="light"
        >I'm Feeling Lucky</ion-button
      >
    </ion-card-content>
  </ion-card>
</div>

<script>
  $("#search-btn1").on("click", function() {
    search = $("#search-bar").val();
    navPage();
  });

  $("#search-btn2").on("click", function() {
    let random = chance.country({ full: true });
    $("#search-bar").val(random);
  });
</script>
